html, body{
    height: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2016/03/10/06/51/background-1247931_960_720.jpg);
    background-size: cover;
}
.header{
    /*background-color: lightblue;*/
    font-family: roboto;
}

.content-wrapper{
    height: 100%;
    
}

.content-wrapper .sidebar-left a{
    display: block;
}

.content-wrapper .sidebar-left{
    /*background-color: chartreuse;*/
    float: left;
    font-family: roboto;
    height: 100%;
    width: 30%;
}
.content-wrapper .content-main{
    /*background-color: darkslategrey;*/
    font-family: roboto;
    float: left;
    height: 100%;
    width: 50%;
}

.content-wrapper .sidebar-right{
    /*background-color: darkslateblue;*/
    font-family: roboto;
    float: right;
    height: 100%;
    width: 20%;
}

.footer{
    /*background-color: lightcoral;*/
    font-family: roboto;
    clear: both;
}
img{
    height: 50px;
    width: 50px;
}
